    'NAME': '{{ netbox_database }}',
    'USER': '{{ netbox_database_user }}',
{% if netbox_database_host is defined %}
    'PASSWORD': '{{ netbox_database_password }}',
    'HOST':  '{{ netbox_database_host }}',
    'PORT': '{{ netbox_database_port }}',
{% else %}
{%      if netbox_database_password is defined %}
    'PASSWORD': '{{ netbox_database_password }}',
{%      endif %}
{%      if netbox_database_alt_socket and netbox_database_socket is defined %}
    'PORT': '{{ netbox_database_port }}',
{%      endif %}
    'HOST': '{{ netbox_database_socket }}',
{% endif %}
    'CONN_MAX_AGE': {{ netbox_database_conn_age }},
{% if netbox_database_options|length > 0 %}
    'OPTIONS': {
        {% for setting, value in netbox_database_options.items() %}
        {% if value is string or value is number %}
        "{{ setting }}": {{ value | to_nice_json }},
        {% endif %}
        {% endfor %}
    },
{% endif %}
